.title--h1 {
	margin: 0;
	font-size: var(--font-size-h1);
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
}

.title--h2 {
	margin: 0;
	font-size: var(--font-size-h2);
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
}

.title--h3 {
	margin: 0;
	font-size: var(--font-size-h3);
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
}

.title--desc {
	margin: 0;
	font-size: var(--font-size-desc);
	font-weight: 600;
	line-height: 1.35;
	text-transform: uppercase;
}